{% extends default_layout %}

{% load crispy_forms_tags static %}

{% block head %}
<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" />
{% endblock head %}

{% block content %}
<div class="row ml-auto mr-auto">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">{{ action }} {{ opts.verbose_name }}</h5>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'js/select2municipios.js' %}"></script>
<script src="{% static 'js/cep.js' %}"></script>
{% endblock scripts %}